<a href="https://bodhgemandcrystals.com/collections/turquoise" class="button-with-dash w-inline-block">
            <div class="dash"></div>
            <div class="dash-button-text p-left-1-07em">{{ 'tn10d1f534' | t }}</div>
          </a>