<div class="wf-section">
    <h1 gifting-heading="option:text" class="gifting-heading">Gifting Service</h1>
    <div class="nam-wrapper">
      <div class="hr left"></div>
      <div subtext="option:text" class="text-block-23">To Make Every Expierence Personal</div>
      <div class="hr"></div>
    </div>
    <div class="gifting-hero-image"><img class="image-max-cover" src="{{ 'whatsapp-image-2022-08-08-at-5.03.53-PM.jpeg' | asset_url }}" hero-image="option:image" alt="" sizes="100vw" loading="lazy" srcset="{{ 'whatsapp-image-2022-08-08-at-5.03.53-PM-p-500.jpeg' | asset_url }} 500w, {{ 'whatsapp-image-2022-08-08-at-5.03.53-PM-p-800.jpeg' | asset_url }} 800w, {{ 'whatsapp-image-2022-08-08-at-5.03.53-PM-p-1080.jpeg' | asset_url }} 1080w"></div>
  </div>