<div class="wf-section">
    <div class="nam-wrapper mt-5em">
      <a button-1-link="option:url" href="#" class="btn-gray custom-sized-btn-left w-button">Download our catalogue</a>
      <a button-2-link="option:url" href="#" class="btn-gray custom-sized-btn w-button">Ask Us More</a>
    </div>
    <div class="gifting-content-wrapper">
      <h1 subtitle-headiing="option:text" class="custom-heading">A Little About Our Gifting Service</h1>
      <p subtitle="option:text" class="paragraph-gifting">Crystals have taken birth in various shapes and sizes and as magnificent as they are to look at, each crystal-shape holds a definite value, the correct use of which has brought us this far in our lives and will take us even further, once we know the meaning and significance of each. Crystals have never known to be harmful to any species on this planet. Once you set your intentions behind choosing a particular crystal, it tends to form a relationship with your inner being and works in harmony with your emotions – always guiding them towards the correct path.</p>
    </div>
  </div>