<div class="global">
    <div class="html w-embed">.zero{
      width:0px;
      }
      .heading-17 strong {
      font-weight:600;
      padding-top:4em;
      }
      h3.heading-17{
      font-weight:600;
      padding-top:0.9em;
      text-transform: uppercase;
      font-size:1.4em;
      }
      @media only screen and (max-width: 768px) {
      #demo{
      font-size:3em;
      }
      /* For mobile phones: */
      #zoko_whatsapp a{
      margin-bottom:0px;
      } /*load more button*/
      .load-more-button{
      font-size:3em;
      }
      /*load more button*/
      .annoucement-text p{
      text-align:center;
      white-space:normal;
      }
      .hide-mobile{
      display:none;
      }
      .w-commerce-commercecartemptystate p{
      font-size:3em;
      }
      .previous-button{
      padding:2em;
      }
      .heading-17 strong{
      font-weight:600;
      font-size:1em;
      }
      /*load more button resize on collection page mobile view give the class manually*/
      .resizer p{
      font-size:3.5em;
      }
      #btn p{
      font-size:3.5em;
      }
      #notbtn p{
      font-size:3.5em;
      }
      }
      /*read more styling*/
      #btn{
      display:none;
      border: none;
      background-color: transparent;
      cursor: pointer;
      color: rgb(93, 146, 163);
      border: 1px solid rgb(66, 66, 68);
      font-size:1em;
      padding: 6px;
      margin-bottom:25px;
      }
      #notbtn{
      border: none;
      background-color: transparent;
      cursor: pointer;
      color: rgb(93, 146, 163);
      padding: 0;
      font-size:3.5em;
      }
      /*read more styling*/
      .annoucement-text {
      white-space:nowrap;
      font-size:0.97em;
      }
      @media only screen and (max-width: 768px) {
      /* For mobile phones: */
      #zoko_whatsapp a{
      margin-bottom:0;
      } /*load more button*/
      .load-more-button{
      font-size:3em;
      }
      /*load more button*/
      .annoucement-text p{
      text-align:center;
      white-space:normal;
      }
      /*blog previous next button*/
      .b-button a{
      font-size:3em;
      }
      .b-button{
      padding: 1em 7em;
      }
      .arrow {
      border: solid black;
      border-width: 0 1.5px 1.5px 0;
      display: inline-block;
      padding: .87em;
      }
      /*varitation auto generated price*/
      .variation-price{
      font-size:3em;
      }
      /*load more button resize on collection page mobile view give the class manually*/
      .resizer p{
      font-size:3.5em;
      }
      #btn p{
      font-size:3.5em;
      }
      #notbtn p{
      font-size:3.5em;
      }
      }</div>
  </div>