<div class="flex">
<div class="w-dyn-list" udy-collection="product">
<div role="list" class="grid-12 w-dyn-items">

  <div role="listitem" class="w-dyn-item">
    <a href="#" class="link-block-2 w-inline-block"> <img  loading="lazy" src= {{ '_GLN5927.jpg' | asset_url }}  class="image-max-cover"> </a>
  </div>

  <div role="listitem" class="w-dyn-item">
    <a href="#" class="link-block-2 w-inline-block"> <img  loading="lazy" src= {{ '_GLN5943.jpg' | asset_url }}  class="image-max-cover"> </a>
  </div>
  
  <div role="listitem" class="w-dyn-item">
    <a href="#" class="link-block-2 w-inline-block"> <img  loading="lazy" src= {{ '_GLN5948.jpg' | asset_url }}  class="image-max-cover"> </a>
  </div>
</div>
</div>
<div>
  <a href="https://bodhgemandcrystals.com/collections/wedding-gift-hampers" class="outline-button margin-top-bottom w-button">View Collection</a>
</div>
</div>