
    <div class="flex">
<<<<<<< HEAD
      <h1 class="custom-heading">{{ section.settings.form_heading }}</h1>
=======
      <h1 class="heading-1 center-text _400-w size-2-5em">{{ section.settings.form_heading }}</h1>
>>>>>>> shopify
      <div class="nam-wrapper">
        <div class="hr left"></div>
        <div class="text-block-23">{{ section.settings.form_subtitle }}</div>
        <div class="hr"></div>
      </div>
      <div class="w-embed w-script">
        <div class="_form_22"></div>
        <script src="https://bodhgemandcrystals.activehosted.com/f/embed.php?id=22" type="text/javascript" charset="utf-8"></script>
      </div>
    </div>
  

<<<<<<< HEAD
<script>var currentSection = document.currentScript.closest('.shopify-section');currentSection.setAttribute("class","section wf-section");</script>
=======
<script>var currentSection = document.currentScript.closest('.shopify-section');currentSection.setAttribute("class","wf-section");</script>
>>>>>>> shopify
        
{% schema %}
{
  "name": "b2b-section-form-title",
  "tag": "div",
<<<<<<< HEAD
  "class": "section wf-section",
=======
  "class": "wf-section",
>>>>>>> shopify
  "settings": [
    {
      "type": "text",
      "id": "form_heading",
      "label": "form-heading",
      "default": "Get To Know Us"
    },
    {
      "type": "text",
      "id": "form_subtitle",
      "label": "form-subtitle",
      "default": "To Make Every Expierence Personal"
    }
  ]
}
{% endschema %}